<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>

<form name="f" th:method="post" th:action="@{/process_login}">

<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

    <label for="username">Введите имя: </label>
    <input type="text" name="username" id="username"/>
    <!--    <div style="color:orangered"-->
    <!--         th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error-->
    <!--    </div>-->

    <br/>

    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password"/>
    <!--    <div style="color:orangered"-->
    <!--         th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error-->
    <!--    </div>-->

    <br/>

    <input type="submit" value="Login"/>
    <div style="color:maroon"
         th:if="${param.error}">
        Неправильные имя или пароль
    </div>

</form>
</body>
</html>